<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/report">Report Waste</a>
</div>

<h2>Waste Reports</h2>

<div class="table-container">
<table>
<tr>
    <th>ID</th>
    <th>Location</th>
    <th>Description</th>
    <th>Status</th>
</tr>

{% for r in reports %}
<tr>
    <td>{{r[0]}}</td>
    <td>{{r[1]}}</td>
    <td>{{r[2]}}</td>
    <td>{{r[3]}}</td>
</tr>
{% endfor %}

</table>
</div>

</body>
</html>